
#loading {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(246, 240, 240);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color:rgba(192,192,192,0.2);
    position: absolute;
    padding: 10px 0;
    top: 0;
    left: 0;
    height: 100vh;
}

#form form {
    background-color: white;
    padding: 10px 25px;
    width: 500px;
    overflow: hidden;
    top: 0;
    left: 0;

}
#form form button {
    margin-top: 10px;
}
.form-group {
    margin-bottom: 0px ;
}
#form  i {
    position: absolute;
    top: 25px;
    right: 60px;
    font-size: 35px;
    cursor: pointer;
}
.form-control {
    padding: 0;
    height: 25px;
}
label {
    margin-bottom: 0;
}

.btnForm {
    display: flex;
}

.btnForm button {
    margin: 0 5px;
}

